@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

/* VARIABLES*/ /* MIXINS */ /* KEYFRAMES */
@-webkit-keyframes apparition {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes circle-check {
  0% {
    transform: rotate(-300deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes circle-check {
  0% {
    transform: rotate(-300deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes glissement-prix {
  0% {
    margin-right: -100px;
  }
  100% {
    margin-right: 10px;
  }
}
@keyframes glissement-prix {
  0% {
    margin-right: -100px;
  }
  100% {
    margin-right: 10px;
  }
}
@-webkit-keyframes loader {
  0% {
    background-color: rgba(255, 255, 255, 0.847);
    opacity: 1;
  }
  60% {
    background-color: transparent;
    opacity: 1;
  }
  90% {
    opacity: 0, 2;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader {
  0% {
    background-color: rgba(255, 255, 255, 0.847);
    opacity: 1;
  }
  60% {
    background-color: transparent;
    opacity: 1;
  }
  90% {
    opacity: 0, 2;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@-webkit-keyframes colorchange {
  0% {
    color: white;
  }
  10% {
    color: #99E2D0;
  }
  20% {
    color: #FF79DA;
  }
  30% {
    color: #9356DC;
  }
  50% {
    background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
  }
  100% {
    background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
  }
}
@keyframes colorchange {
  0% {
    color: white;
  }
  10% {
    color: #99E2D0;
  }
  20% {
    color: #FF79DA;
  }
  30% {
    color: #9356DC;
  }
  50% {
    background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 1;
  }
  100% {
    background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
  }
}
.btn {
  border-radius: 30px 30px 30px 30px;
  width: 47%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 20px 0 40px 0;
  font-size: 100%;
  font-weight: 500;
  color: white;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgb(192, 192, 192);
}
.btn:hover {
  background: linear-gradient(to top left, #AF73E1, #F189E0);
  box-shadow: 4px 4px 13px rgb(174, 173, 173);
}

/* HEARTS */
.hearts {
  position: relative;
}
.hearts i {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
}
.hearts .fa-solid {
  opacity: 0;
  background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.hearts .fa-solid:hover {
  opacity: 1;
  transition: opacity 1s;
}
.hearts .fa-regular:hover {
  opacity: 0;
  transition: opacity 1s;
}

.page {
  width: 100%;
  margin: 0 auto;
}

@media all and (min-width: 768px) {
  .page {
    width: 100%;
    max-width: 768px;
  }
}
@media all and (min-width: 1100px) {
  .page {
    width: 100%;
    max-width: 1100px;
  }
}
/* LOADER */
.loader {
  position: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.847);
  -webkit-animation: loader 2s;
          animation: loader 2s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  justify-content: center;
  align-items: center;
}
.loader__contain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.loader__logo {
  font-family: Shrikhand;
  font-size: 70px;
  -webkit-animation: colorchange 9s;
          animation: colorchange 9s;
}

/* HEADER */
.header {
  margin: 0px;
}
.header__logo {
  text-align: center;
  justify-content: center;
  font-family: Shrikhand;
  padding: 15px;
  margin: 0px;
}

/* FOOTER */
.footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
.footer__logo {
  font-family: Shrikhand;
  font-size: 110%;
}
.footer__list {
  list-style: none;
  padding: 0px;
}
.footer__list li {
  margin-bottom: 10px;
}
.footer__list a {
  color: white;
  text-decoration: none;
  font-size: 90%;
}
.footer__icon {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.footer__icon i {
  margin-right: 10px;
}
.footer__icon .fa-handshake-angle {
  margin-right: 3px;
}

/* FORMULAIRE */
.formulaire {
  display: flex;
  flex-direction: row;
  background: #EAEAEA;
  align-items: center;
  justify-content: center;
  color: #5a5a5a;
  box-shadow: inset 0px 10px 8px -10px #c6c6c6;
}
.formulaire i {
  margin-right: 20px;
}
.formulaire p {
  font-size: 16px;
  font-weight: 500;
}

/* EXPLORE */
.explore {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.explore h2 {
  font-size: 160%;
  margin-bottom: 5px;
}
.explore p {
  font-weight: 300;
  font-size: 120%;
}

/* FONTIONNEMENT */
.fonctionnement {
  padding: 30px 20px;
}
.fonctionnement h2 {
  font-size: 160%;
}

ul {
  padding-left: 0px;
}

.etapes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.etapes__number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  font-size: 90%;
  padding: 5px 9px;
  position: absolute;
}
.etapes__contain {
  background-color: #f4f4f4;
  padding: 12px 30px 12px 20px;
  margin-left: 18px;
  border-radius: 25px;
  box-shadow: 3px 3px 13px #d2d2d2;
  display: flex;
  align-items: center;
  width: 500px;
}
.etapes__contain i {
  color: gray;
  margin: 0 15px;
  font-size: 20px;
}
.etapes__contain p {
  font-size: 110%;
  font-weight: 500;
  color: rgb(52, 52, 52);
  margin-left: 10px;
}
.etapes__contain:hover {
  background-color: #F5EDFF;
  cursor: pointer;
}
.etapes__contain:hover i {
  color: #9356DC;
}

/* RESTAURANTS */
.restaurants {
  background-color: #F6F6F6;
  padding: 20px 20px;
  padding-bottom: 50px;
}
.restaurants h2 {
  font-size: 160%;
}

.cards {
  background-color: white;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgb(192, 192, 192);
  margin-bottom: 20px;
  position: relative;
}
.cards a {
  text-decoration: none;
}
.cards img {
  height: 190px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.cards__texte {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 10px 0 10px;
  color: black;
}
.cards__texte h3 {
  margin: 0;
}
.cards__texte p {
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}
.cards__texte i {
  font-size: 25px;
  margin-top: 7px;
  margin-right: 20px;
}
.cards__tag {
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
}

/* HEADER PAGE MENU */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header .fa-arrow-left {
  color: black;
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 25px;
}

.photo_resto {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}

/* MENUS PAGE MENU */
.all_menu {
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  padding: 20px;
  margin-top: -50px;
  position: relative;
}
.all_menu header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 30px;
}
.all_menu h1 {
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 100;
  margin: 0;
}
.all_menu .hearts {
  margin-top: -28px;
}
.all_menu .hearts i {
  font-size: 28px;
  cursor: pointer;
}

.menu h2 {
  font-size: 110%;
  font-weight: 100;
  margin-bottom: 5px;
  margin-top: 40px;
}
.menu__border {
  border-top: 3px solid #99E2D0;
  height: 2px;
  width: 10%;
}

/* CARDS PAGE MENU */
.menu article {
  width: 100%;
  background-color: white;
  padding-left: 12px;
  margin-top: 20px;
  border-radius: 20px;
  height: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  -webkit-animation: apparition 1s;
          animation: apparition 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgb(192, 192, 192);
}
.menu article:hover .menu__check {
  transform: scaleX(1);
}
.menu article:hover .menu__check i {
  -webkit-animation: circle-check 0.7s;
          animation: circle-check 0.7s;
}
.menu article:hover .menu__prix {
  transform: translate(-40px, 0px);
}
.menu__texte {
  width: 70%;
}
.menu__texte h3 {
  margin: 5px 0 7px 0;
  padding-right: 5px;
  font-weight: 500;
  font-size: 120%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.menu__texte p {
  margin: 5px 0 10px 0px;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__prix {
  font-weight: 500;
  width: 50px;
  margin-right: -125px;
  transition: transform 0.6s;
}
.menu__prix p {
  margin-bottom: 10px;
}
.menu__check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  border-radius: 0px 20px 20px 0px;
  height: 100%;
  width: 60px;
  margin-left: 10px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s;
}
.menu__check .fa-solid {
  font-size: 25px;
}
.menu .delay1 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.menu .delay2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.menu .delay3 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.menu-button {
  text-align: center;
  margin-top: 30px;
}/*# sourceMappingURL=style.css.map */