@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  font-family: "roboto", Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

.btn {
  border-radius: 30px 30px 30px 30px;
  padding: 16px 22px;
  margin: 20px 0 40px 0;
  font-size: 100%;
  font-weight: 500;
  color: white;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgb(192, 192, 192);
}
.btn:hover {
  background: linear-gradient(to top left, #AF73E1, #F189E0);
  box-shadow: 4px 4px 13px rgb(174, 173, 173);
}

.page {
  width: 100%;
}

@media all and (min-width: 768px) {
  .page {
    width: 100%;
    max-width: 768px;
  }
}
@media all and (min-width: 1100px) {
  .page {
    width: 100%;
    max-width: 1100px;
  }
}
/* HEADER */
.header {
  margin: 0px;
}
.header__logo {
  text-align: center;
  font-family: Shrikhand;
  padding: 15px;
  margin: 0px;
}

/* FOOTER */
.footer {
  background-color: #353535;
  color: white;
  padding: 20px;
  width: 100%;
}
.footer__logo {
  font-family: Shrikhand;
  font-size: 110%;
}
.footer__list {
  list-style: none;
  padding: 0px;
}
.footer__list li {
  margin-bottom: 10px;
}
.footer__list a {
  color: white;
  text-decoration: none;
  font-size: 90%;
}
.footer__icon {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.footer__icon i {
  margin-right: 10px;
}

/* FORMULAIRE */
.formulaire {
  display: flex;
  flex-direction: row;
  background: #EAEAEA;
  align-items: center;
  justify-content: center;
  color: #5a5a5a;
  box-shadow: inset 0px 10px 8px -10px #c6c6c6;
}
.formulaire i {
  margin-right: 20px;
}
.formulaire p {
  font-size: 16px;
  font-weight: 500;
}

/* EXPLORE */
.explore {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.explore h2 {
  font-size: 160%;
  margin-bottom: 5px;
}
.explore p {
  font-weight: 300;
  font-size: 120%;
}

/* FONTIONNEMENT */
.fonctionnement {
  padding: 30px 20px;
}
.fonctionnement h2 {
  font-size: 160%;
}

ul {
  padding-left: 0px;
}

.etapes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.etapes__number {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  font-size: 90%;
  padding: 5px 9px;
  position: absolute;
}
.etapes__contain {
  background-color: #f4f4f4;
  padding: 12px 30px 12px 20px;
  margin-left: 18px;
  border-radius: 25px;
  box-shadow: 3px 3px 13px #d2d2d2;
  display: flex;
  align-items: center;
  width: 500px;
}
.etapes__contain i {
  color: gray;
  margin: 0 15px;
  font-size: 20px;
}
.etapes__contain p {
  font-size: 110%;
  font-weight: 500;
  color: rgb(52, 52, 52);
  margin-left: 10px;
}
.etapes__contain:hover {
  background-color: #F5EDFF;
  cursor: pointer;
}
.etapes__contain:hover i {
  color: #9356DC;
}

/* RESTAURANTS */
.restaurants {
  background-color: #F6F6F6;
  padding: 20px 20px;
  padding-bottom: 50px;
}
.restaurants h2 {
  font-size: 160%;
}

.cards {
  background-color: white;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgb(192, 192, 192);
  margin-bottom: 20px;
  position: relative;
}
.cards a {
  text-decoration: none;
}
.cards img {
  height: 190px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.cards__texte {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 10px 0 10px;
  color: black;
}
.cards__texte h3 {
  margin: 0;
}
.cards__texte p {
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}
.cards__texte i {
  font-size: 25px;
  margin-top: 7px;
  margin-right: 20px;
}
.cards__tag {
  background-color: #99E2D0;
  color: #008766;
  font-weight: 500;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 3px;
}/*# sourceMappingURL=style.css.map */