.btn {
    border-radius: 30px 30px 30px 30px;
    // padding: 16px 22px;
    width: 47%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 20px 0 40px 0;
    font-size: 100%;
    font-weight: 500;
    color: white;
    background: linear-gradient(to top left, $color-primary,$color-secondary);
    border: none;
    cursor: pointer;
    
    @include ombre-gris;

    &:hover {
        background: linear-gradient(to top left, $color-primary-light, $color-secondary-light);
        box-shadow: 4px 4px 13px rgb(174, 173, 173);
    }
}