/* FOOTER */

.footer {
    background-color: #353535;
    color: white;
    padding: 20px;
    &__logo {
        font-family: Shrikhand;
        font-size: 110%;
    }
    &__list {
        list-style: none;
        padding: 0px;
        li{
            margin-bottom: 10px;
        }
        a { 
            color:white;
            text-decoration: none;
            font-size: 90%;
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        font-weight: 600;
        i {
            margin-right: 10px;
        }
        .fa-handshake-angle {
            margin-right: 3px;
        }
    }
}

