/* LOADER */

.loader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.847);
    animation: loader 2s;
    animation-delay: 5s;
    animation-fill-mode: both;

    &__logo {
        font-family: Shrikhand;
        font-size: 70px;
        animation: colorchange 9s;
        padding: 10px;
    }

}






