@keyframes apparition {
    0% {
        opacity: 0;
        transform: translate(0, 20px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}


@keyframes circle-check {
    0% {
        transform: rotate(-300deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes glissement-prix {
    0% {
        margin-right: -100px;
    }
    100% {
        margin-right: 10px;
    }
}