/* KEYFRAMES */

@keyframes apparition {
    0% {
        opacity: 0;
        transform: translate(0, 20px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}


@keyframes circle-check {
    0% {
        transform: rotate(-300deg);
    }
    100% {
        transform: rotate(0deg);
    }
}



@keyframes loader {
    0% {
        background-color: rgba(255, 255, 255, 0.847);
        opacity: 1;
    }
    60% {
        background-color: transparent;
        opacity: 1;
    }
    100%{
      opacity: 0;
      z-index: -30;
    }
  }

@keyframes colorchange {
    0% {
        color: white;
    }
    10% {
        color: $color-tertiary;
    }
    20% {
        color: $color-secondary;
    }
    30% {
        color: $color-primary;
    }
    50% {
        background:-webkit-linear-gradient(top, $color-primary, $color-secondary);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
        opacity: 1;
    }
    100% {
        background:-webkit-linear-gradient(top, $color-primary, $color-secondary);
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
        opacity: 0;
    }

}